Repository cse110-sp24-group8/cse110-sp24-group8, pull requests merged in 2024-05, with the labels that each got.

#8 Finished majority of the skeleton of the Dashboard
  src/scripts/main/public/css/main.css
  src/scripts/main/public/fonts/Karla-Regular.ttf
  src/scripts/main/public/icons/calendar-icon.png
  src/scripts/main/public/icons/codelog-icon.png
  src/scripts/main/public/icons/dashboard-icon.png
  src/scripts/main/public/icons/documentation-icon.png
  src/scripts/main/public/icons/feedback-icon.png
  src/scripts/main/public/icons/journallogo-icon.png
  src/scripts/main/public/icons/tasklist-icon.png
  src/scripts/main/public/images/graph.PNG
  src/scripts/main/public/index.html
  src/scripts/main/public/styles/dashboard.css
  src/scripts/main/public/styles/main.css
  src/scripts/main/public/styles/var.css
Labels: html, css

#13 Did gradient, fixed tag and fixed whitespace
  src/scripts/main/public/index.html
  src/scripts/main/public/styles/dashboard.css
  src/scripts/main/public/styles/main.css
  src/scripts/main/public/styles/var.css
Labels: html, css, dashboard, sidebar

#21 Created html for documentation page
  src/scripts/main/public/documentation.html
Labels: html

#25 Task list HTML and CSS Structure
  .vscode/settings.json
  src/scripts/main/public/addlist.html
  src/scripts/main/public/img/union.svg
  src/scripts/main/public/img/vector-3.svg
  src/scripts/main/public/index.html
  src/scripts/main/public/styles/task-list.css
  src/scripts/main/public/task-list.html
  src/scripts/main/public/task_script.js
Labels: html, css, js

#29 CSS & Markdown added!
  src/scripts/main/public/documentation.html
  src/scripts/main/public/js/documentation.js
  src/scripts/main/public/styles/documentation.css
Labels: enhancement, css

#36 css adjustments and new css file
  src/scripts/main/public/documentation.html
  src/scripts/main/public/styles/documentation.css
  src/scripts/main/public/styles/markdown.css
Labels: css

#34 Feedback (HTML, CSS, JS)
  src/scripts/main/public/feedback.html
  src/scripts/main/public/feedback.js
  src/scripts/main/public/styles/feedback.css
Labels: html, css, js

#37 Sidebar changes merge main
  src/scripts/main/public/icons/journallogo-icon-small.png
  src/scripts/main/public/icons/journallogo-icon.png
  src/scripts/main/public/icons/left-arrow-solid.png
  src/scripts/main/public/icons/left-arrow.png
  src/scripts/main/public/icons/right-arrow-solid.png
  src/scripts/main/public/icons/right-arrow.png
  src/scripts/main/public/images/graph.PNG
  src/scripts/main/public/index.html
  src/scripts/main/public/js/loadNav.js
  src/scripts/main/public/sidebar.html
  src/scripts/main/public/styles/dashboard.css
  src/scripts/main/public/styles/main.css
Labels: html, css, js, dashboard

#60 Updated code log
  src/scripts/main/public/html/code-log.html
  src/scripts/main/public/js/code-log.js
  src/scripts/main/public/styles/code-log.css
  src/scripts/main/public/styles/markdown.css
  src/scripts/main/public/styles/team_calendar.css
Labels: html, css, js

#61 removed arrow
  src/scripts/main/public/html/sidebar.html
Labels: html, sidebar

#66 moved index.html outside html folder, updated routes, fixed main.yml …
  .github/workflows/main.yml
  src/scripts/main/public/html/sidebar.html
  src/scripts/main/public/index.html
Labels: bug, html, css

#73 Create pullrequest-template.md
  .github/workflows/pullrequest-template.md
Labels: documentation

#74 Add retrospective.md
  admin/meetings/052224-Sprint-1-review.md
  admin/meetings/052224-restrospective-2.md
Labels: documentation

#43 Fixed small things like toggle button and hover color
  src/scripts/main/public/html/sidebar.html
  src/scripts/main/public/styles/main.css
  src/scripts/main/public/styles/team_calendar.css
Labels: html, css, sidebar

#76 Added meeting notes, small CSS changes
  admin/meetings/052624-catchup.md
  src/scripts/main/public/js/dashboard.js
  src/scripts/main/public/styles/main.css
  src/scripts/main/public/styles/team_calendar.css
Labels: css, meeting notes

#83 CRUD implementation into Documentation-page
  src/scripts/main/public/html/documentation.html
  src/scripts/main/public/js/documentation.js
  src/scripts/main/public/styles/documentation.css
Labels: enhancement, js
